
<div id="overlay">
  <mat-toolbar class="flexSpaceBetween" color="primary">
    <button mat-button routerLink="/" routerLinkActive="active" [color]="'success'" type="submit">
      <mat-icon>home</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="SinmulateOrbit()" [color]="'success'" type="submit">
      <mat-icon>satellite</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="SinmulateOrbitTimeTagged()" [color]="'success'" type="submit">
      <mat-icon>play_circle_filled</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="webSocketConnect()" [color]="'success'" type="submit">
      <mat-icon svgIcon="socket"></mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="closeConnection()" [color]="'success'" type="submit">
      <mat-icon svgIcon="socket_off"></mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="startSending()" [color]="'success'" type="submit">
      <mat-icon>play_arrow</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="stopSending()" [color]="'success'" type="submit">
      <mat-icon>stop</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="playVideo()" [color]="'success'" type="submit">
      <mat-icon>play_circle</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="pauseVideo()" [color]="'success'" type="submit">
      <mat-icon>pause_circle</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button [matMenuTriggerFor]="menu" [color]="'success'" type="submit">Layers</button>
      <mat-menu #menu="matMenu" class="customize">
        <li *ngFor="let sublayer of layer.sublayers">
          <mat-checkbox [(ngModel)]="sublayer.completed"
                      [color]="sublayer.color"
                      (ngModelChange)="updateAllComplete()"
                      (change)="showImages($event)">
            {{sublayer.name}}
          </mat-checkbox>
        </li>
      </mat-menu>
      &nbsp;&nbsp;&nbsp;
      <mat-slide-toggle (change)="toggle($event)" [color]="'success'" type="submit" [labelPosition]="'before'"> Chart
      </mat-slide-toggle>
      &nbsp;&nbsp;&nbsp;
      <mat-slide-toggle (change)="toggleVideo($event)" [color]="'success'" type="submit" [labelPosition]="'before'"> Streaming
      </mat-slide-toggle>
  </mat-toolbar>
  
</div>

<div id="cesiumContainer" class="fullSize"></div>
<div id="toolbar"></div>

<video id="trailer" controls muted>
  <source src="http://localhost:8080/video" type="video/mp4">
  Your browser does not support the <code>video</code> element.
</video>

