#trailer {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 320px;
  height: 180px;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden
}

#overlay {
  position: fixed;
  display: block;
  width: 50%;
  height: 5%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
}

.flexSpaceBetween {
  justify-content: flex-start;
}

.mat-toolbar.mat-primary {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

.my-button{
  width: 180px!important;
  min-width: unset!important;
}

h2{
  text-align: center;
}

.mat-success {
  background-color: rgba(0, 128, 0, 0.507);
  color: #fff;
}

::ng-deep .customize {
  background: rgba(0, 128, 0, 0.507);
  color: #fff;
}

::ng-deep .customize_drone {
  background: rgba(0, 128, 0, 0.507);
  color: #fff;
  width: 180px;
}

li {
  list-style-type: none;
  margin-left:  4px;
}

ul {
  list-style-type: none;
  margin-top: 0;
}



::ng-deep .mat-button {
  height: 34px !important;
  width: 12px !important;
  font-size: 12px !important;
}
