<h1>INSURE Home Page</h1>
<nav>
  
  <div>
    <button class="main-menu-button" routerLink="/monitor-control" routerLinkActive="active">Monitor & Control</button>
    <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active">User Management</button>
  </div>
  <div>
    <button class="main-menu-button" routerLink="/data" routerLinkActive="active">Data Analysis</button>
    <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active">Personnel and assets</button>
  </div>
</nav>
