div {
  display: flex;
  justify-content: center;
}

.main-menu-button {
    width: 228px;
    height: 120px;
    padding-top: 13px;
    background-color: #86caf8;
    color: rgb(17, 22, 22);
    font-weight : bold;
    cursor: pointer;
  }
  
  .main-menu-button:hover {
    background-color: #5194c0;
    color: white;
  }
  .mat-icon {
    vertical-align: middle;
    transform: scale(2);
}
  
  body { background-color: rgb(172, 250, 169); }