div {
  display: flex;
  justify-content: center;
}

.main-menu-button {
    width: 228px;
    height: 120px;
    padding-top: 13px;
    background-color: rgb(22, 9, 201);
    color: rgb(212, 223, 224);
    cursor: pointer;
  }
  
  .main-menu-button:hover {
    background-color: #295991;
    color: white;
  }
  
  html { background-color: rgb(80, 151, 153); }