<body>
  <br>
  <br>
  <br>
  <div>
    <img src="../../assets/INSURE.png">
  </div>
  <br>
  <br>
  <br>
  <div>
    <button class="main-menu-button" routerLink="/monitor-control" routerLinkActive="active">Monitor & Control</button>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active">User Management</button>
  </div>
  <br>
  <br>
  <br>
  <div>
  <button class="main-menu-button" routerLink="/data" routerLinkActive="active">Data Analysis</button>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active">Personnel and assets</button>
  </div>
</body>
