<body>
  <br>
  <br>
  <br>
  <div>
    <img src="../../assets/INSURE.png">
  </div>
  <br>
  <br>
  <br>
  <div>
    <button class="main-menu-button" routerLink="/monitor-control" routerLinkActive="active"><mat-icon>view_list</mat-icon> &nbsp;&nbsp;&nbsp;Command & Control</button>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active"> <mat-icon>assignment</mat-icon>&nbsp;&nbsp;&nbsp; Resource Management</button>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active"> <mat-icon>video_camera_back</mat-icon>&nbsp;&nbsp;&nbsp; Video Streaming</button>
  </div>
  <br>
  <br>
  <br>
  <div>
  <button class="main-menu-button" routerLink="/data" routerLinkActive="active"> <mat-icon>satellite</mat-icon>&nbsp;&nbsp;&nbsp; EO Sat Data</button>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active"><mat-icon>radar</mat-icon>&nbsp;&nbsp;&nbsp;  LIF Data</button>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active"> <mat-icon>public</mat-icon>&nbsp;&nbsp;&nbsp; 3D GIS</button>
</div>
  <br>
  <br>
  <br>
  <div>
  <button class="main-menu-button" routerLink="/data" routerLinkActive="active"> <mat-icon>insights</mat-icon>&nbsp;&nbsp;&nbsp; Analysis Tools</button>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active"><mat-icon>storage</mat-icon>&nbsp;&nbsp;&nbsp; Data Storage</button>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
  <button class="main-menu-button" routerLink="/user-management" routerLinkActive="active"> <mat-icon>manage_accounts</mat-icon>&nbsp;&nbsp;&nbsp; User Management</button>
</div>
</body>
