<p>
    <ngx-gauge 
    [size]=80
    [type]="gaugeType" 
    [value]="gaugeValue" 
    [label]="gaugeLabel" 
    [append]="gaugeAppendText"
    [thresholds]="thresholdConfig"
    >
  </ngx-gauge>

  <ngx-gauge 
    [size]=80
    [type]="gaugeType2" 
    [value]="gaugeValue2" 
    [label]="gaugeLabel2" 
    [append]="gaugeAppendText2"
    [thresholds]="thresholdConfig"
    >
  </ngx-gauge>
</p>
<div mat-dialog-actions class = "footer">
  <button mat-button mat-dialog-close>Close</button>
</div>
